<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <meta charset="utf-8">
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>
    <script src="js/lib/FileSaver.min.js"></script>

    <script src="js/router.js"></script>

    <script src="js/controllers/darkSideCtrl.js"></script>
    <script src="js/controllers/lightSideCtrl.js"></script>
    <script src="js/controllers/donwloadCtrl.js"></script>
    <script src="js/controllers/clickCtrl.js"></script>
    <script src="js/controllers/formController.js"></script>

    <title>Main Page</title>
</head>
<body>
    <h2 align="middle">Welcome to Main Page!</h2>
    <p align="left">Which side do you like more?</p>
    <nav><a href="#/darkSide">Dark side!</a>|<a href="#/lightSide">Light side!</a></nav>
    <ng-view></ng-view>

    <h2 align="middle">This is a web-site with BlackJack and Sluts!</h2>

    <div ng-controller="clickCtrl">
        <button ng-click="click()">show me Petya!</button>
        <a>{{response}}</a>
    </div>

    <div style="padding-top: 10px" ng-controller="downloadCtrl">
        <button style="width: 111px" ng-click="download()">download</button>
    </div>

    <h3 align="left">Please register to make me feel better</h3>
    <div style="padding-top: 10px" ng-controller="formController">
        <form name="form">
        <fieldset>
            <p><label for="name">Login Name</label>
                <input id="name" ng-model="login.name" required placeholder="enter name"/>
            </p>
            <button type="submit" ng-click="save(login, form)">Submit</button>
        </fieldset>
        </form>
    </div>

</body>
</html>
