<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <meta charset="utf-8">
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>
    <script src="js/lib/angular-sanitize.js"></script>
    <script src="js/lib/FileSaver.min.js"></script>
    <script src="js/lib/select.js"></script>
    <script src="js/lib/dateFormat.js"></script>

    <script src="js/router.js"></script>

    <script src="js/controllers/darkSideCtrl.js"></script>
    <script src="js/controllers/lightSideCtrl.js"></script>
    <script src="js/controllers/donwloadCtrl.js"></script>
    <script src="js/controllers/clickCtrl.js"></script>
    <script src="js/controllers/formCtrl.js"></script>

    <link rel="stylesheet" href="css/select.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">

    <style>
        body {
            padding: 15px;
        }

        fieldset {
            width: 400px;
            border-style: solid;
        }
    </style>

    <title>Main Page</title>
</head>
<body>
<h2 align="middle">Welcome to the Main Page!</h2>

<p align="left">Which side do you like more?</p>
<nav><a href="#/darkSide">Dark side!</a> | <a href="#/lightSide">Light side!</a></nav>
<ng-view></ng-view>

<h2 align="middle">This is a web-site with BlackJack and Sluts!</h2>

<div ng-controller="clickCtrl">
    <button ng-click="click()">Show me Petya!</button>
    <a>{{response}}</a>
</div>

<div style="padding-top: 10px" ng-controller="downloadCtrl">
    <button style="width: 120px" ng-click="download()">Download app</button>
    <button style="width: 120px" ng-click="downloadZip()">Download Zip</button>
</div>

<div style="padding-top: 10px" ng-controller="formCtrl">
    <form name="form">
        <fieldset>
            <legend>Please register to make me feel better</legend>
            <p><label for="name">Login Name:</label><br>
                <input id="name" ng-model="login.name" required placeholder="Enter name" style="padding-top: 5px;"/>
            </p>

            <p><label for="password">Password:</label><br>
                <input type="password" id="password" ng-model="login.password" required placeholder="Enter password"
                       style="padding-top: 5px;"/>
            </p>

            <label>Country:</label>
            <ui-select ng-model="login.country" theme="selectize" required>
                <ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="country in countries | filter: $select.search">
                    <span ng-bind-html="country.name | highlight: $select.search"></span>
                    <small ng-bind-html="country.code | highlight: $select.search"></small>
                </ui-select-choices>
            </ui-select>

            <p><label>Select your life form:</label><br>
                <label for="human">Human</label>
                    <input ng-model="login.lifeForm" id="human" required type="radio" name="lifeForm" value="Human"><br>
                <label for="alien">Alien</label>
                    <input ng-model="login.lifeForm" id="alien" type="radio" name="lifeForm" value="Alien"><br>
                <label for="cat">Cat</label>
                    <input ng-model="login.lifeForm" id="cat" type="radio" name="lifeForm" value="Cat">
            </p>

            <label for="calendar">Choose you birthdate:</label><br>
            <input required ng-model="login.birthDate" id="calendar" type="date" name="calendar"><br><br>

            <button type="submit" ng-click="save(login, form)">Submit</button>
        </fieldset>
    </form>
</div>

</body>
</html>
